extends _layout
block head

block content

    .content#app(eventshort=event.short)
        .req.scroll
            .reqWr
                .reqBox

                    if(event.isLogo)
                        .reqRow
                            .reqBoxLogo
                                img(src=event.logoUrl)
                    if(event.isTitle)
                        .reqRow
                            .reqBoxTitle #{event.title}
                    .reqRow
                        .reqBoxTitle Пожалуйста, зарегистрируйтесь
                    include elems/regForm



    script(src="/lib/vue.js")
    script.
        document.querySelector("input[name='i']").focus();
        async function login() {
            let eventshort=app.getAttribute("eventshort")
            formError.style.display = "none";
            let dt={eventshort};
            document.querySelectorAll("input[name]").forEach(e => {
                e.classList.remove("error")
                if (!e.value || e.value.length < 2) {
                    e.classList.add("error")
                    return;
                }
                let name=e.getAttribute("name")
                if(name=="email"){
                    if(!validateEmail(e.value))
                        e.classList.add("error");
                }
                if (name == "phone") {
                    if (e.value.length<8)
                        e.classList.add("error");
                }
                dt[name]=e.value;

            })
            let err = document.querySelector(".error")
            if (err) {
                formError.style.display = "block"
                return err.focus();
            }
            let res=await postJson("/eventLogin/", dt)
            if(res)
                document.location.reload();
        }
