extends _layout
block head

block content

    .content#app(eventshort=event.short)
        .req.scroll
            .reqWr
                .reqBox

                    if(event.isLogo)
                        .reqRow
                            .reqBoxLogo
                                img(src=event.logoUrl)
                    if(event.isTitle)
                        .reqRow
                            .reqBoxTitle #{event.title}
                    .reqRow
                        .reqBoxTitle Пожалуйста, зарегистрируйтесь
                    include elems/regForm



    script(src="/lib/vue.js")
    script.
        document.querySelector("input[name='i']").focus();
        async function login() {
            let eventshort=app.getAttribute("eventshort")
            let res=await eventLogin(eventshort)
            if(res)
                document.location.reload();
        }
